
.caixaDialogoHeader {
    height: 2.3em;
    background: #ECEFF1;
    cursor:pointer;
}
.caixaDialogoHeader > div > div > a {
    margin-top: 0.2em;
    margin-left: 0.4em;
    
}
#botoesHeader{
    margin-top: 0.2em;

}

.caixaDialogoBody {
    max-height: 30em;
    background: #ECEFF1;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.caixaDialogoBody::-webkit-scrollbar {
    width: 0.5em;
}

.caixaDialogoBody::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

.caixaDialogoBody::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #E91E63;
}

.hide {
    display: none;
}


.caixaDialogoFooter{
    margin:1em;
}
