
.mensagemDialogo:hover {
    background-color: #CFD8DC;
}


.profile_picture {
    height: 2em;
    width: 2em;

}

#dialogoHeader:hover .tableHeader4{
    display: block;
    cursor: pointer;
}
#dialogoHeader:hover .tableHeader4 > i:hover {
   color:#dc3545 !important;
}
.tableHeader1 {
    width: 15%;
}
.tableHeader2 {
    width: 80%;
}
.tableHeader3 {
    width: 5%;
}
.tableHeader4 {
    display:none;
}
#botaoFecharDialogo:hover {
    color: #dc3545 !important;
}