h1{
    color:white;
}
.mensagemDialogo:hover {
    background-color: white;
}

.mensagemDialogo:hover>div>i {
    display: block;
}

.mensagemDialogo> div > i {
    display: none;
}

.profile_picture {
    height: 2em;
    width: 2em;

}

#dialogoHeader:hover .tableHeader4{
    display: block;
}
.tableHeader1 {
    width: 15%;
}
.tableHeader2 {
    width: 80%;
}
.tableHeader3 {
    width: 5%;
}
.tableHeader4 {
    display:none;
}